


    <div class="row">
      <div class="col page-counts">
        <span>{{page}} of {{totalPages}}</span>
      </div>
      <div class="col">
         <span (click)="onPrev()" class="page-icons" [class.disabled]="page==1">
        <i class="mdi mdi-chevron-left mdi-24px "  aria-hidden="true" ></i>
      </span>

        <span  class="" (click)="onNext()" class="page-icons" style="color: white; cursor: pointer">
        <i class="mdi mdi-chevron-right mdi-24px " aria-hidden="true" [class.disabled]="page==totalPages"> </i>
      </span>
      </div>



    </div>

