<div class="header"></div>
<div class="row">
    <div class="col-md-2 nav-links">
      <div class="list-item">
        <span>Trending Charts</span>
      </div>
      <div class="list-item">Popular Movies</div>
    </div>
    <div class="col-md-10">
      <span *ngIf="backdropPath">
        <img src="https://image.tmdb.org/t/p/w500{{backdropPath}}">
      </span>

      <div class="row">
        <form [formGroup]="countryForm">
          <select formControlName="countryControl"  (change)="onChangeEvent($event.target.value)">
            <option [value]="time" *ngFor="let time of timeFormat">             {{time}}</option>
          </select>
        </form>
      </div>
      <div class="row">
        <canvas
          baseChart
          [chartType]="'bar'"
          [datasets]="chartData"
          [labels]="labels"
          [options]="chartOptions"
          [legend]="true"
          [colors]="colors"
          (chartClick)="onChartClick($event)">
        </canvas>
      </div>
    </div>
  </div>

